html {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    position: relative;
    background-color: #f8f8f5;
    padding-bottom: 5em;
}

main {
    max-width: 900px;
    margin: 5em auto;
    padding: 0 2em; 
}

article {
    width: 100%;
    margin: 2em auto;
    padding: 0.8em 0;
}

article > header {
    margin-bottom: 2em;
}
article > header h1 {
    font-size: 2em;
    margin-bottom: 0.8em;
}
article > header p {
    font-size: 1.1em;
    line-height: 1;
    color: #65696b;
}
article > header a {
    text-decoration: none;
}

.more-content {
    margin-top: 2.5em; 
}
.more-content a {
    text-decoration: none;
}

@media (max-width: 550px) {
    main {
        padding: 0 2em;
    }
    main > article { padding: 30px 0; } 
    #blog-title-header { display: none; } 
    article.inline > header .title {
        font-size: 2em;
    } 
    article.main > header .title {
        font-size: 2.2em; 
    } 
}

article p{
    line-height: 1.8;
}

article a {
    color: #3e5ba9;
}

article li {
    line-height: 1.7;
}
  
.content h1 {
    font-size: 2em;
    margin-top: 2em; 
}
  
.footnotes {
    font-size: small;
    margin-top: 3em; 
}

  
a {
    text-decoration: underline;
    color: #3e5ba9;
}

blockquote {
    background-color: #ebebe9;
    padding: 0.5em 1.3em;
}  

.important {
    background-color: #d9faff;
    padding: 0.5em 1.3em; 
}

img {
    max-width: 100%;
}


.index-welcome {
    max-width: 72%; 
    box-sizing: border-box;
    margin: 3em auto 0.5em;
    padding: 1em 3em;
    background: #d9faff;
}
.index-welcome p {
    margin: 0.5em;
}

.index-welcome + main {
    margin-top: 1em;
}
  
.navbar {
    margin: 0;
    padding: 1.3em 5em;
    font-size: 1.2em;
    width: 100%;
    background-color: #343a40;
    position: relative; 
}

.navbar a {
    color: white;
    text-decoration: none; 
}

.navbar .navbar-title {
    letter-spacing: 0.08em;
    font-size: 1.6em;
    font-weight: inherit; 
}

.navbar .navbar-items {
    box-sizing: border-box;
    position: absolute;
    right: 5em;
    top: 50%;
    bottom: -50%; 
    transform: translateY(-50%);
}

.navbar .navbar-item {
    display: inline-block;
    font-size: 1em;
    margin: 0 0.7em;
}


header.tag-info {
    font-size: 2.2em;
    font-weight: 700;
}


footer {
    max-width: 72%;
    position: absolute;
    bottom: 0;
    left: 14%;
    margin: 0 auto;
    padding: 1.5em 1em;
    box-sizing: border-box;
    color: #46494b;
}

footer a {
    color: inherit;
    font-weight: bold;
    text-decoration: underline; 
}

footer p {
    font-weight: 300;
    font-size: 0.9em;
}
footer p.copyright {
    font-style: italic;
}

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 4em;
    padding: 0; }
.pagination li {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      list-style: none;
      text-align: center; }
.pagination li a {
        display: block;
        -webkit-transition: background-color 0.25s ease-in-out;
        transition: background-color 0.25s ease-in-out;
        width: 90%; }
.pagination li.active a {
        cursor: default; }
.pagination li a:hover, .pagination li.active a {
        background-color: #e45b5b;
        color: white !important; }
